
* {
    margin: 0;
    border: 0;
}


.body {
    background-color:ghostwhite;
    font-family: monospace;
    font-size: 30px;
    font-style: oblique;
    font-weight: 100;
    text-align: center;
    height: 700px;
    width:1440px;
}




.content
{
    height: 3000px;
    width: 1440px;
    display: inline-block;
    
}


.content-left
{
    float:left;
    height: 3000px;
    width: 250px;
    margin: 0;
    margin-top:35px;
    margin-left: 20px;
 
   
}

.cl{
    margin-top:25px;
    font-size: 35px;
    width:200px;
    background-color:rgb(222, 255, 210) ;
}

button{

    font-size: 15px;
    width:200px;
    background-color:rgb(222, 255, 210) ;
    font-family: cursive;
}

.content-middle{
    float:left;
    height: 3000px;
    width:920px;
}

.content-right{

    float:right;
    height: 3000px;
    width:250px;
    margin: 0;
  
}

.cts{

    margin-top:10px;
    font-size: 18px;
    font-family: cursive;
}

#logo{
    height: 100px;
    width: 228px;
    background-image: url(Images/logoname.jpg);
}



.head{

    height: 100px;
    width:1440px;
    display: inline-block;

}

.head-left
{
    float:left;
    height: 100px;
    width: 420px;
    margin: 0;
}


.head-middle
{
    float:left;
    height: 100px;
    width: 420px;
    margin: 0;
}


.head-right{

    
    float:right;
    height: 100px;
    width:600px;
    margin: 0;
    font-style: italic;
    font-size: 20px;
}

.input_box{
    margin-top:50px;
    border:none;
    outline: none;
    background:none;
    float:left;
    padding:0;
    color:plum;
    font-size: 25px;
    transition: 0.5s all;
    line-height: 40px;
    width:0px;
}


.btn{
    margin-top:50px;
    color:#1abc9c;
    float:left;
    text-decoration: none;
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align:center ;
    border-radius: 50%;
}

.head-middle:hover .input_box{
    width:240px;
    padding:0 6px;
    background-color: rgb(165, 182, 172);
}

.head-middle:hover .btn{
    background-color:green;
}




select{
    top:335px;
    left:800px;
    padding:10px;
    position:absolute;
    width:110px;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
    height:40px;
    font-size:16px;
    font-family: cursive;
    border:none;
    color:black;
    cursor:pointer;

}

.aboutpad{
    left:100px;
    top:440px;
    background-color: white;
    height:360px;
    width:850px;
    position:absolute;
    display:none;
}

.aboutpadx{
    left:100px;
    top:440px;
    height:360px;
    width:850px;
    position:absolute;
    display:none;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
}

.phpad{
    left:100px;
    top:440px;
    background-color: white;
    height:360px;
    width:850px;
    position:absolute;
    display:none;
}

.phpadx{
    left:100px;
    top:440px;
    height:360px;
    width:850px;
    position:absolute;
    display:none;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
}

.frnpad{
    left:100px;
    top:440px;
    height:360px;
    width:850px;
    position:absolute;
    display:none;
}

.frnpadx{
    left:100px;
    top:440px;
    height:360px;
    width:850px;
    position:absolute;
    display:none;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
}

.coverpadx{
    left:100px;
    top:60px;
    background-color: white;
    height:360px;
    width:850px;
    position:absolute;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
}

.postp{
    top:440px;
    left:350px;
    position:absolute;
    width:600px;
    height:210px;
    display:none;
}

#column-1{
    left:0px;
    top:0px;
    background-color: white;
    width:580px;
    height:200px;
    border-radius: 3px/3px;
    font-size:15px;
    font-family: cursive;
    color:black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#postpos{
    top:170px;
    left:450px; 
    width:85px;
    height:30px;
    
}

#buttonpost{

    width:85px;
    height:30px;
    border-radius: 4px/4px;
    background-color: black;
    font-size: 15px;
    outline: none;
    color:white;
    
}

#postboxpos{

    top:45px;
    left:10px;
    height:105px;
    width:580px;
    z-index:5;

}

#postbox{

    top:45px;
    left:10px;
    outline:none;
    border:white;
    background-color: #e9f0f2;
    height:105px;
    width:580px;

}



.chat-sidebar{

    
    width:200px;
    position:fixed;
    height:450px;
    margin-top:90px;
   
    
    
}




#chatnamebox{
    margin-left:35px;
    width:150px;
    height:30px;
    top:65px;
    background-color: #e9f0f2;
    color:black;
    font-size: 16px;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox1{
    width:150px;
    height:30px;
    background-color: #e9f0f2;
    margin-left:35px;
    top:105px;
    color:black;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox2{
    width:150px;
    height:30px;
    top:145px;
    background-color: #e9f0f2;
    margin-left:35px;
    color:black;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox3{
    width:150px;
    height:30px;
    top:185px;
    background-color: #e9f0f2;
    color:black;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox4{
    width:150px;
    height:30px;
    top:225px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox5{
    width:150px;
    height:30px;
    top:265px;
    color:black;
    margin-left:35px;
    background-color: #e9f0f2;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox6{
    width:150px;
    height:30px;
    top:305px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}
#chatnamebox7{
    width:150px;
    height:30px;
    top:345px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}
#chatnamebox8{
    width:150px;
    height:30px;
    top:385px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}
#chatnamebox9{
    width:150px;
    height:30px;
    top:425px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox10{
    width:150px;
    height:30px;
    top:465px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox11{
    width:150px;
    height:30px;
    top:505px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox12{
    width:150px;
    height:30px;
    top:545px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox13{
    width:150px;
    height:30px;
    top:585px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnameboxp1{
    
    float:right;
    width:30px;
    height:30px;
    top:80px;
}

#chatnameboxp2{
    width:30px;
    height:30px;
    top:120px;
}

#chatnameboxp3{
    width:30px;
    height:30px;
    top:160px;
}

#chatnameboxp4{
    width:30px;
    height:30px;
    top:200px;
}

#chatnameboxp5{
    width:30px;
    height:30px;
    top:240px;
}

#chatnameboxp6{
    width:30px;
    height:30px;
    top:280px;
}

#chatnameboxp7{
    width:30px;
    height:30px;
    top:320px;
}

#chatnameboxp8{
    width:30px;
    height:30px;
    top:360px;
}

#chatnameboxp9{
    width:30px;
    height:30px;
    top:400px;
}

#chatnameboxp10{
    width:30px;
    height:30px;
    top:440px;
}

#chatnameboxp11{
    width:30px;
    height:30px;
    top:480px;
}

#chatnameboxp12{
    width:30px;
    height:30px;
    top:520px;
}

#chatnameboxp13{
    width:30px;
    height:30px;
    top:560px;
}


#chatnameboxp14{
    width:30px;
    height:30px; 
    top:600px;
}

#chatnamebox:hover{
    background-color: #e1e5e6;
}

#chatnamebox1:hover{
    background-color: #e1e5e6;
}

#chatnamebox2:hover{
    background-color: #e1e5e6;
}

#chatnamebox3:hover{
    background-color: #e1e5e6;
}

#chatnamebox4:hover{
    background-color: #e1e5e6;
}

#chatnamebox5:hover{
    background-color: #e1e5e6;
}

#chatnamebox6:hover{
    background-color: #e1e5e6;
}

#chatnamebox7:hover{
    background-color: #e1e5e6;
}

#chatnamebox8:hover{
    background-color: #e1e5e6;
}

#chatnamebox9:hover{
    background-color: #e1e5e6;
}

#chatnamebox10:hover{
    background-color: #e1e5e6;
}

#chatnamebox11:hover{
    background-color: #e1e5e6;
}

#chatnamebox12:hover{
    background-color: #e1e5e6;
}

#chatnamebox13:hover{
    background-color: #e1e5e6;
}

#profilearea{
    top:15px;
    left:50px;
    height:40px;
    width: 100px;
}

#profilea{
    top:20px;
    left:150px;
    height:20px;
    font-size:14px;
    font-family: cursive;
    width: 100px;
}

#notifications{
    top:15px;
    height:30px;
    left:250px;
    font-size:14px;
    font-family: cursive;
    
}

#settings{
    top:15px;
    height:30px;
    left:350px;
    width: 100px;
    font-size:14px;
    font-family: cursive;
}

#logout{
    top:15px;
    height:30px;
    left:450px;
    width: 100px;
    font-size:14px;
    font-family: cursive;
}

.post00{
    top:110px;
    position: absolute;
    width:800px;
    height:210px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0 .25);
    background-color: #f2f3bb;
}

.post10{
    top:330px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0 .25);
    position: absolute;
    width:780px;
    height:600px;
    border-radius: 3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    background-color: #eff0d9;
}

.post20{
    top:960px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0 .25);
    position: absolute;
    width:780px;
    height:600px;
    border-radius: 3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    background-color: #eff0d9;
}

.post30{
    top:1590px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0 .25);
    position: absolute;
    width:780px;
    height:600px;
    border-radius: 3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    background-color: #eff0d9;
}
.post40{
    top:2210px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0 .25);
    position: absolute;
    width:780px;
    height:600px;
    border-radius: 3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    background-color: #eff0d9;
}
.post50{
    top:2830px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0 .25);
    position: absolute;
    width:780px;
    height:600px;
    border-radius: 3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    background-color: #eff0d9;
}

.post{
    top:110px;
    position: absolute;
    width:800px;
    height:210px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0 .25);
    background-color: #f2f3bb;
}

#column-1{
    background-color: #f2f3bb;
    left:0px;
    top:0px;
    width:780px;
    height:200px;
    border-radius: 3px/3px;
    font-size:15px;
    font-family: cursive;
    color:black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#postpos{
    top:170px;
    left:640px; 
    width:60px;
    height:30px;
    
}

#buttonpost{

    width:85px;
    height:30px;
    border-radius: 4px/4px;
    background-color: black;
    font-size: 15px;
    outline: none;
    color:white;
    
}

#postboxpos{

    top:45px;
    left:10px;
    height:105px;
    width:750px;
    z-index:5;

}

#postbox{

    top:45px;
    left:10px;
    outline:none;
    border:white;
    background-color: #e9f0f2;
    height:105px;
    width:750px;

}

.post1p{

    top:330px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0 .25);
    position: absolute;
    width:600px;
    height:600px;
    border-radius: 3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    background-color: #eff0d9;

}

.post2p{

    top:960px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0 .25);
    position: absolute;
    width:600px;
    height:600px;
    border-radius: 3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    background-color: #eff0d9;

}

.post3p{

    top:1580px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0 .25);
    position: absolute;
    width:600px;
    height:600px;
    border-radius: 3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    background-color: #eff0d9;

}

.post4p{

    top:2210px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0 .25);
    position: absolute;
    width:600px;
    height:600px;
    border-radius: 3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    background-color: #eff0d9;

}

.post5p{

    top:2850px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0 .25);
    position: absolute;
    width:600px;
    height:600px;
    border-radius: 3px/3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    background-color: #eff0d9;

}

#post2text{
    left:60px;
    top:10px;
    padding-top:10px;
    height:40px;
    width:300x;
}

#commentprof2{
    top:555px;
    left:10px;
    width:25px;
    height: 25px;

}

#commentboxpos2{

    
    top:550px;
    left:55px;
    width:530px;
    height: 30px;
}

#commentbox{

    top:550px;
    background-color: white;
    width:530px;
    height: 30px;
}

p1{
    color:#114426;
    font-family: cursive;
    font-size: 15px;
}

p2{
    color:#868383;
    font-family: cursive;
    font-size: 15px;
}

p3{
    margin-left: 50px;
    color:#114426;
    font-family: cursive;
    font-size: 15px;
}

p4{
    margin-left: 50px;
    color:#868383;
    font-family: cursive;
    font-size: 15px;
}

p6{
    color:#114426;
    font-family: cursive;
    font-size: 15px;
}

p7{
    color:#868383;
    font-family: cursive;
    font-size: 15px;
}